 
    <div class="page-padding">
        <div class="contenedor">
    
            <div class="hola relative">
    
                <div class="flex-1 bg-white-500 text-black font-bold text-center p-4 border-round  m-3 ">
    
                    <h1 class="title p-3">Agencia Web de Diseño en Argentina</h1>
    
                    <button pButton type="button" class="p-button-raised p-button-rounded p-button-outlined " label="ok" (click)="mostrar()" ></button>
    
                    <p-dialog header="Title" [(visible)]="display">
                        Content
                    </p-dialog>
            
                    <h1 class="phrase p-3">A web design & branding agency en Argentina la cual cuida, construyes relaciones, experencia en la industria, y gana premiaciones</h1>
                    
                </div>
    
                <div class="card absolute bottom-0  ">
                    <div class="flex card-container indigo-container">
            
                        <div class="flex-1 bg-white-500 text-black font-bold text-left p-4 border-round m-3  " style="width: 500px;">
                            <p  id="sub" class="text">Desing</p>
                        </div>
            
                        <div class="flex-1 bg-white-500 text-black font-bold text-left p-4 border-round m-3" >
                            <p  id="sub" class="text">Creatividad</p>
                        </div>
            
                        <div class="flex-1 bg-white-500 text-black font-bold text-left p-4 border-round m-3 ">
                            <p  id="sub" class="text">Nosotros</p>
                        </div>
            
                    </div>
                </div>
    
            </div>
    
        </div>
    </div>
    
    <div class="page-padding">
        <div class="contenedor">
    
            <h1 class="phrase text-center">Clientes Felices</h1>
    
            <div class="card" style="background-color:#F9F9FB ;">
                <div class="flex card-container indigo-container ">
    
                   
                    <div class="flex-1 bg-white-500 text-black font-bold text-center p-4 border-round  m-3 ">
    
                        <h3 class="phrase">The all-in-one solution </h3>
                        <h1 class="title">Enterprise SSO (and a whole lot more)</h1>
                        <h5 class="text">WorkOS is a set of building blocks for quickly adding enterprise features to your app. You’ll be shipping quickly with a market-proven solution for your customers.</h5>
    
                        <button pButton type="button" class="p-button-raised p-button-rounded p-button-outlined" label="ok" ></button>
                       
                    </div>
                    
    
                    <div class="flex-1 bg-white-500 text-black font-bold text-center p-4 shadow-5 m-3 relative" style="border-radius: 25px ;display: flex;justify-content: space-evenly; align-items: center;">
    
                        <div>
    
                            <div >
                                <input type="text " pInputText /> 
                                
                            </div>
        
                            <div style="margin-top: 0px;">
                                <button pButton type="button" class="p-button-raised p-button-rounded p-button-outlined " label="ok" ></button>
    
                                
                            </div>
    
                        </div>
    
    
                        
    
    
                    </div>
    
                </div>
            </div>
    
        
    
            <div class="card " style="background-color:#F9F9FB ;">
                <div class="flex card-container indigo-container">
    
                    
    
                    <div class="flex-1 bg-white-500 text-black font-bold text-center p-5 border-round  m-5 ">
    
                        <div >
    
                            <div class="image-container">
                                <img src="../../../assets/img/MySOUI/gb old days.jpg" alt="" style="height: 200px; width: 200px; border-radius: 25px;" class="shadow-5">
                            </div>
    
                            <div >
                            <h4 class="phrase">SAML</h4>
                            <h5 class="text">Support all SAML and OIDC providers out-of-the-box</h5>
                            </div>   
    
                        </div>
    
                    </div>
    
                    <div class="flex-1 bg-white-500 text-black font-bold text-center p-5 border-round m-5">
    
                        <div >
    
                            <div class="image-container">
                                <img src="../../../assets/img/MySOUI/cartel.jpg" alt="" class="shadow-5" style="height: 200px; width: 200px ;border-radius: 25px;">
                            </div>
    
                            <div >
                            <h4 class="phrase">Multi-Facto-Auth</h4>
                            <h5 class="text">Additional authentication factors using TOTP and SMS</h5>
                            </div>    
                        </div>
                       
                    </div>
    
                </div>
            </div>
    
            <div class="card" style="background-color:#F9F9FB ;">
                <div class="flex card-container indigo-container ">
                    
                    <div class="flex-1 bg-white-500 text-black font-bold text-center p-5 border-round m-5">
    
                        <div >
    
                            <div class="image-container" >
                                <img src="../../../assets/img/MySOUI/spiral.jpg" alt="" class="shadow-5" style="height: 200px; width: 200px;border-radius: 25px;">
                            </div>
    
                            <div >
                                <h4 class="phrase">EMAIL</h4>
                                <h5 class="text">Use unlimited passwordless authentication through email</h5>
                            </div>
    
                        </div>
                    </div>
                    
    
                    <div class="flex-1 bg-white-500 text-black font-bold text-center p-5 border-round m-5 ">
    
                        <div >
    
                            <div class="image-container">
                                <img src="../../../assets/img/MySOUI/ooo.jpg" alt="" class="shadow-5" style="height: 200px; width: 200px;border-radius: 25px;">
                            </div>
    
                            <div  >
                            <h4 class="phrase">Auth</h4>
                            <h5 class="text">Sign in with third-party providers like Google and Microsoft</h5>
                            </div>
    
                        </div>
    
                    </div>
                
    
                </div>
            </div>
    
    
        </div>
    </div>
    
    <div class="page-padding">
        <div class="contenedor">
            <div class="hola">
    
                <div class="scalein animation-duration-1000  justify-content-centerfont-bold text-white border-round m-2 px-5 py-3 text-center">
                    
                    <h1 class="phrase">¿Por que MySOUI?</h1>
    
                    <h1 class="title">Creamos experiencias no productos</h1>
            
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, praesentium neque. Error placeat doloremque temporibus architecto fuga ut eaque nemo exercitationem distinctio dolorum, pariatur voluptatum aliquid provident rem in suscipit.</p>
                
                    
    
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/JGDeOEb-uis" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    
                </div>
    
            </div>
        </div>
    </div>
    
    <div class="page-padding" style="background-color:#F9F9FB ;">
        <div class="contenedor">
             <h1 class="phrase text-center">Trabajos mas recientes</h1>
    
            <div class="card" style="background-color:#F9F9FB ;">
                <div class="flex card-container indigo-container ">
                    
                    <div class="flex-1 bg-white-500 text-black font-bold text-center p-5 border-round m-5">
    
                        <div class="image-container">
    
                           <img src="../../../assets/img/MySOUI/face.jpg" alt="" class="image">
    
                        </div>
                    </div>
                    
    
                    <div class="flex-1 bg-white-500 text-black font-bold text-center p-5 border-round  m-5 ">
    
                        <div >
    
                            <p class="text">
                                chauuuu
                            </p>
    
                        </div>
    
                    </div>
                
    
                </div>
            </div>
    
            <div class="card" style="background-color:#F9F9FB ;">
                <div class="flex card-container indigo-container ">
                    
                    <div class="flex-1 bg-white-500 text-black font-bold text-center p-5 border-round  m-5">
    
                        <div >
                            <p class="text">
                                chauuuu
                            </p>
                        </div>
                    </div>
                    
    
                    <div class="flex-1 bg-white-500 text-black font-bold text-center p-5 border-round m-5 ">
    
                        <div class="image-container">
    
                            <img src="../../../assets/img/MySOUI/redlines.jpg" alt="" class="image">
    
                        </div>
    
                    </div>
                
    
                </div>
            </div>
        </div>
    </div>
    
    <div class="page-padding">
        <div class="contenedor">
            
        </div>
    </div>
    
    
    
    
        <!-- <p-carousel [value]="cartas" [numVisible]="4" [numScroll]="1" >
            <ng-template let-carta pTemplate="item">
    
                <p-card class="flex-1 bg-white-500 text-black font-bold  border-round m-3 shadow-5 ">
                    <i class="pi pi-star-fill"></i>
                    <i class="pi pi-star-fill"></i>
                    <i class="pi pi-star-fill"></i>
                    <i class="pi pi-star-fill"></i>
                    <i class="pi pi-star-fill"></i>
                    <p>{{carta.text}}</p>
                    <p>{{carta.nombre}}</p>
                </p-card>
                    
                
            </ng-template>
        </p-carousel> -->
    
    
    
        <!-- <section>
            
    
            <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" >
                    <div class="testimonialBox">
                        <img src="../../../assets/img/MySOUI/face.jpg" alt="">
                        <div class="content">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum placeat unde eum magni quasi totam veniam nesciunt facere molestiae minus blanditiis non, eaque velit quisquam consequuntur dicta accusantium rem possimus.</p>
                        </div>
                    </div>
                </div>
            </div>    
            </div>
    
        </section>
        
        <script>
            var swiper= new Swiper ('.swiper-container',{
                effect:'coverflow',
                grabCursor:"true",
                centeredSlides:"true",
                slidesPerView:"auto",
                coverflowEffect:{
                    rotate: 50,
                    stretch: 0,
                    depth: 100,
                    modifier: 1,
                    slideShadows: true,
                },
                pagination:{
                    el: 'swiper-paginarion'
                },
             
            });
        
        
      
        </script>
       
        
        <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script> -->
        
    
       
    
    
    
    <!-- <router-outlet></router-outlet> -->
    
    
    
    
    
    

