

<div class="page-padding">
    <h1 class="title text-center">
        Una agencia de marketing digital con experiencia.
    </h1>

    <div class="flex card-container">
        <div class="flex-1 bg-white-500 text-black font-bold text-center p-5 border-round  m-5">

            <div >

                <div class="">
                    <div class="image-container" style="margin: auto;">

                        <img src="../../../assets/img/MySOUI/face.jpg" alt="" class="image">

                    </div>
                </div>

                <div class="">
                    <p  id="sub" class="text">eComercio</p>
                </div>
    
                <p class="text">
                    Vende productos en línea a tus clientes las 24 horas del día, los 7 días de la semana a través de pasarelas de pago como Stripe, PayPal y Shopify.
                </p>

            </div>
        </div>
        <div class="flex-1 bg-white-500 text-black font-bold text-center p-5 border-round  m-5">

            <div >

                <div class="">
                    <div class="image-container" style="margin: auto;">

                        <img src="../../../assets/img/MySOUI/face.jpg" alt="" class="image">

                    </div>
                </div>

                <div class="">
                    <p  id="sub" class="text">Diseño Web</p>
                </div>
                
                <p class="text">
                    Un sitio web es la herramienta de marketing mas importante. Puede entregar contenido rico, a una gran audiencia en un periodo de tiempo corto.
                </p>
                

            </div>
        </div>
        <div class="flex-1 bg-white-500 text-black font-bold text-center p-5 border-round  m-5">

            <div >
                
                <div class="">
                    <div class="image-container" style="margin: auto;">

                        <img src="../../../assets/img/MySOUI/face.jpg" alt="" class="image">

                    </div>
                </div>

                <div class="">
                    <p  id="sub" class="text">SEO</p>
                </div>
                
                <p class="text">
                    Aumente la visibilidad de su sitio web en los motores de búsqueda como Google para aumentar el tráfico y los ingresos. Todo lo que hacemos es orgánico.
                </p>
                

            </div>
        </div>
    </div>
    
</div>
        

<div class="page-padding">
    
    <div class="flex card-container">
        <div class="flex-1 bg-white-500 text-black font-bold text-center p-5 border-round  m-5">

            <div >

                <div class="">
                    <div class="image-container" style="margin: auto;">

                        <img src="../../../assets/img/MySOUI/face.jpg" alt="" class="image">

                    </div>
                </div>

                <div class="">
                    <p  id="sub" class="text">Craft CMS</p>
                </div>
                
                <p class="text">
                    Craft CMS es nuestra elección de sistema de administración de contenido (CMS), que le permite controlar su contenido y diseño.
                </p>

            </div>
        </div>
        <div class="flex-1 bg-white-500 text-black font-bold text-center p-5 border-round  m-5">

            <div >

                <div class="">
                    <div class="image-container" style="margin: auto;">

                        <img src="../../../assets/img/MySOUI/face.jpg" alt="" class="image">

                    </div>
                </div>

                <div class="">
                    <p  id="sub" class="text">Shopify</p>
                </div>

                <p class="text">
                    Una tienda de comercio electrónico Shopify personalizada completamente funcional en 4 semanas.
                </p>
                

            </div>
        </div>
        <div class="flex-1 bg-white-500 text-black font-bold text-center p-5 border-round  m-5">

            <div >
                
                <div class="">
                    <div class="image-container" style="margin: auto;">

                        <img src="../../../assets/img/MySOUI/face.jpg" alt="" class="image">

                    </div>
                </div>

                <div class="">
                    <p  id="sub" class="text">Shape Support</p>
                </div>
                
                <p class="text">
                    Nuestro plan de soporte está aquí para ayudarlo a hacer crecer su negocio en línea a través de un sitio web que funciona bien.
                </p>
                

            </div>
        </div>
    </div>
    
</div>

<div class="page-padding">

    <div class="flex card-container">
        <div class="flex-1 bg-white-500 text-black font-bold text-center p-5 border-round  m-5">

            <div >

                <div class="">
                    <div class="image-container" style="margin: auto;">

                       <img src="../../../assets/img/MySOUI/face.jpg" alt="" class="image">

                    </div>
                </div>

                <div class="">
                    <p  id="sub" class="text">Craft Commerce</p>
                </div>
                
                <p class="text">
                    Con Craft Commerce, nunca ha sido tan fácil crear experiencias de comercio electrónico bellamente personalizadas.
                </p>

            </div>
        </div>
        <div class="flex-1 bg-white-500 text-black font-bold text-center p-5 border-round  m-5">

            <div >

                <div class="">
                    <div class="image-container" style="margin: auto;">

                       <img src="../../../assets/img/MySOUI/face.jpg" alt="" class="image">

                    </div>
                </div>

                <div class="">
                    <p  id="sub" class="text">Branding</p>
                </div>

                <p class="text">
                    Creamos marcas de las que te sientas orgulloso y de las que quieras gritar.
                </p>
                

            </div>
        </div>
        <div class="flex-1 bg-white-500 text-black font-bold text-center p-5 border-round  m-5">

            <div >
                
                <div class="">
                    <div class="image-container" style="margin: auto;">

                       <img src="../../../assets/img/MySOUI/face.jpg" alt="" class="image">

                    </div>
                </div>

                <div class="">
                    <p  id="sub" class="text">Desarrollo web</p>
                </div>
    
                
                <p class="text">
                    Utilizando las últimas tecnologías, creamos sitios web para que usted mismo pueda actualizarlos y administrarlos fácilmente
                </p>
                

            </div>
        </div>
    </div>


</div>

       
<div class="container">
    <div class="maincontainer">


       
       
    </div>

    

</div>
