<div class="page-padding" style="background-color:#F9F9FB ;">
    <div class="card" style="background-color:#F9F9FB ;">
        <div class="flex card-container indigo-container ">
                    
            <div class="flex-1 bg-white-500 text-black font-bold text-center p-5 border-round  m-5">
    
                <div >

                    <p class="title">
                        Gusto en conocerte!
                    </p>
                    
                    <p class="text">
                        En caso de cualquier duda, llena nuestro formulario para mantenrnos en contacto. De forma alternativa, si sabes los detalles de tu proyecto - enviaselos a nuesto <a href=""> project planner</a>
                    </p>
                </div>
            </div>
            
    
            <div class="flex-1 bg-white-500 text-black font-bold text-center p-4 shadow-5 m-3 relative" style="border-radius: 25px ;display: flex;justify-content: space-evenly; align-items: center;">

                <div>
                    <div >
                        <input type="text " pInputText placeholder="Nombre" /> 
                        
                    </div>
                    <div style="margin-top: 20px;">
                        <input type="text " pInputText placeholder="Correo electronico" /> 
                        
                    </div>
                    <div style="margin-top: 20px;">
                        <input type="text " pInputText placeholder="Telefono (Opcional)"/> 
                        
                    </div>
                    <div style="margin-top: 20px;">
                        <input type="text " pInputText placeholder="Cuentanos acerca de tu proyecto"/> 
                        
                    </div>

                    <div style="margin-top: 20px;">
                        <button pButton type="button" class="p-button-raised p-button-rounded p-button-outlined " label="ok" ></button>
                    </div>

                </div>


                


            </div>
                
        </div>
</div>

<div class="page-padding" style="background-color:rgb(0, 0, 0);">
    <div class="flex card-container"  >
        <div class="flex-1 bg-white-500 font-bold text-center p-5 border-round  m-5" >

            <div >

                <p class="title" style="color: #FFFF;">
                    Llamanos
                </p>
                <p class="text" style="color: #FFFF;">
                    Actualmente nuestro equipo esta trabajando, porfavor envianos un email. 
                </p>

            </div>
        </div>
        <div class="flex-1 bg-white-500 text-black font-bold text-center p-5 border-round  m-5">

            <div >

                <p class="title" style="color: #FFFF;">
                    Escribenos
                </p>
                <p class="text" style="color: #FFFF;">
                    hola@mysoui.co.ar
                </p>
                

            </div>
        </div>
        <div class="flex-1 bg-white-500 text-black font-bold text-center p-5 border-round  m-5">

            <div >

                <p class="title" style="color: #FFFF;">
                    Encuentranos
                </p>
                <p class="text" style="color: #FFFF;">
                    Neuquen, Neuquen, Av.Argentina 235
                    Argenina
                </p>
                

            </div>
        </div>
    </div>

    

</div>

<div class="page-padding">
    <div class="flex card-container">
        <div class="flex-1 bg-white-500 text-black font-bold text-center p-5 border-round  m-5">

            <div >

                <p class="title">
                    Llamanos
                </p>
                <p class="text">
                    Actualmente nuestro equipo esta trabajando, porfavor envianos un email. 
                </p>

            </div>
        </div>
        <div class="flex-1 bg-white-500 text-black font-bold text-center p-5 border-round  m-5">

            <div >

                <p class="title">
                    Escribenos
                </p>
                <p class="text">
                    hola@mysoui.co.ar
                </p>
                

            </div>
        </div>
        <div class="flex-1 bg-white-500 text-black font-bold text-center p-5 border-round  m-5">

            <div >

                <p class="title">
                    Encuentranos
                </p>
                <p class="text">
                    Neuquen, Neuquen, Av.Argentina 235
                    Argenina
                </p>
                

            </div>
        </div>
    </div>

    
</div>


        

           

