<!-- <p-menubar 
[model] = "menuItems">
</p-menubar> -->

<main class="container" >
    
      <nav class="navbar-menu">
        
        <!-- Menu normal -->

        <ul class="menu" >
          <li><a routerLink="inicio">MySOUI</a></li>
          <li><a routerLink="primerp">Trabajos</a>
            <ul class="submenu five">
              <li><a routerLink="pruebas">Pruebas</a></li>
            </ul>
            

          </li><li><a routerLink="segundp">Servicios</a>
            
            
          
          </li><li><a routerLink="tercerp">Acerca de</a>
            <ul class="submenu five">
              <li><a routerLink="tercerp">Nosotros</a></li>
              <li><a routerLink="cuartop">Contactanos</a></li>
              
            </ul>
          </li>

        </ul>
        
        <!-- Mini Menu -->
        <nav class="navbar-mini-menu">
          <div class="menu-select">
            <span class="menu-actual">
              Menu
            </span>
            <span class="btn-select">
              
            </span>
          </div>
          <ul class="mini-menu-options">
            <li><a>Home</a></li>
            <li tabIndex="0"><a>Menu 1</a></li>
            <li tabIndex="0"><a>Menu 2</a>
              <ul class="submenu five">
                <li><a>Submenu 1</a></li>
                <li><a>Submenu 2</a></li>
              </ul>
            </li>
            <li tabIndex="0"><a>Menu 3</a></li>
            <li tabIndex="0"><a>About</a>
              <ul class="submenu five">
                <li><a>Contact me</a></li>
                <li><a>About me</a></li>
                <li><a>About me</a></li>
              </ul>
            </li>
            
          </ul> <!-- Fin lista mini menu -->
        </nav> <!-- Fin mini menu -->
        
      </nav> <!-- Fin menu general (nav) -->
    

      
         
  </main>