
<div class="page-padding" style="background-color:#F9F9FB ;">
    
    <h1 class="phrasee text-center">GOOD DESING MAKES THE DIFERENCE</h1>

    <div class="card" style="background-color:#F9F9FB ;">
        <div class="flex card-container indigo-container ">
                    
            <div class="flex-1 bg-white-500 text-black font-bold text-center p-5 border-round  m-5">

                <div >
                    <p class="text">
                        “Fantástica agencia: ¡MadeByShape creó nuestro nuevo sitio web y fue una experiencia sin dolor! Lo recomendaría altamente.”
                    </p>
                </div>
            </div>
            

            <div class="flex-1 bg-white-500 text-black font-bold  p-5 border-round m-5 ">

                <div class="image-container">

                    <img src="../../../../assets/img/MySOUI/travis.jpg" alt="" class="image">

                </div>

                <p id="sub" >
                    dsadsad
                </p>

            </div>
                
        </div>
    </div>

</div>

<div class="page-padding">

    <div class="card">
        <div class="flex card-container indigo-container ">

            <div class="flex-1 bg-white-500 text-black font-bold p-5 border-round m-5 ">

                <div class="image-container">

                    <img src="../../../../assets/img/MySOUI/mmmmmmm.jpg" alt="" class="image">

                </div>

                <p id="sub" >
                    dsadsad
                </p>

            </div>
                    
            <div class="flex-1 bg-white-500 text-black font-bold text-center p-5 border-round  m-5">

                <div >
                    <p class="text">
                        chauuuu
                    </p>
                </div>
            </div>
            

            
                
        </div>
    </div>

</div>

<div class="page-padding" style="background-color:#F9F9FB ;">

    <div class="card" style="background-color:#F9F9FB ;">
        <div class="flex card-container indigo-container ">
                    
            <div class="flex-1 bg-white-500 text-black font-bold p-5 border-round  m-5">

                <div >
                    <p class="text">
                        "Súper creativo, con visión de futuro y puede transformar totalmente su negocio"
                    </p>

                    
                </div>
            </div>
            

            <div class="flex-1 bg-white-500 text-black font-bold p-5 border-round m-5 ">

                <div class="image-container">

                    <img src="../../../../assets/img/MySOUI/bokotic.jpg" alt="" class="image">

                </div>

                <p id="sub" >
                    dsadsad
                </p>
            </div>
                
        </div>
    </div>

</div>

<div class="page-padding">
    
    <div class="card">
        <div class="flex card-container indigo-container ">
                    

            <div class="flex-1 bg-white-500 text-black font-bold text-center p-5 border-round m-5 ">

                <div class="image-container">

                    <img src="../../../assets/img/imgggg22.jfif" alt="" class="image">

                </div>

            </div>
                
        </div>
    </div>
</div>
      
                


  


